<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js Todos</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="todos.css"/>
</head>

<body>

  <div class="background-overlay"></div>
  <ul id="background"><li class="fadein" style="background-image: url(backgrounds/02.jpg);"></li></ul>

  <div id="todo-container">

    <div id="todoapp">

      <header>
        <h1></h1>
        <p class="timer"></p>
        <input id="new-todo" type="text" placeholder="What needs to be done?">
      </header>

      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list" class="todo-list"></ul>
        <ul id="todo-list-trash" class="todo-list"><li class="label">Trash</li></ul>
      </section>

      <footer>
        <a id="clear-completed">Clear completed</a>
        <div id="todo-count"></div>
        <div id="trash-count"></div>
      </footer>

    </div>

    <div id="instructions">
      Double-click to edit a todo.
    </div>

  </div> <!-- #todo-container -->

  <div id="credits">
    Created by: <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
    <br />Rewritten by: <a href="http://addyosmani.github.com/todomvc">TodoMVC</a>.
    <br />Restyled and Improved by: <a href="http://krillwebdesign.com">James Krill</a>
  </div>

  <!-- Scripts -->

  <script src="js/vendor/json2.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/handlebars.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/backbone.localStorage.js"></script>
  <script src="todos.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <small><a href="https://twitter.com/share?text=I%20need%20to:%20<%- title %>&count=none" target="_blank" title="Share">tweet</a></small>
      <a class="duplicate" title="Duplicate"></a>
      <a class="destroy" title="Delete"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="trash-item-template">
    <div class="view">
      <a class="restore" title="Restore"></a>
      <label><%- title %></label>
      <a class="delete" title="Delete Permanently"></a>
    </div>
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
    <% if (trash) { %>
      <a id="empty-trash">Empty the Trash</a>
      <div class="trash-count"><%= trash %> <%= trash == 1 ? 'item' : 'items' %> in the <a class="toggle-trash">trash</a></div>
    <% } %>
  </script>

  </body>
</html>
